@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Pixelify+Sans&family=Signika&family=Tilt+Neon&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Tilt Neon', sans-serif;
    display: flex;
    justify-content: center;
    background-color: magenta;
}
h1,h4{
    margin: 30px auto; 
}
button{
    margin: 0 auto;
    width: 80px;
    height: 25px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
}
input{
    width: 200px;
    margin: auto;
    font-size: 20px;
    text-align: center;
    color: black;
    border: 2px solid black;
}
::placeholder{
    opacity: 100%;
    color: gray;
}
p{
    padding-top: 20px;
}
#newGame{
    width: 120px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    background-color: greenyellow;
    border: 3px solid black;
    border-radius: 5px;
    margin-top: 20px;
    padding: 30px 0;
}